:root {
  --color-one: #666a86;
  --color-one-light: #868791;
  --color-two: #788aa3;
  --color-three: #92b6b1;
  --color-four: #b2c9ab;
  --color-five: #e8ddb5;
  --color-font: hsl(233, 14%, 36%);
  --box-shadow: 3px 4px 11px rgba(0, 0, 0, 0.29);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header,
.footer {
  min-width: 320px;
  width: 100%;
  /* max-width: 600px; */
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-one);
  font-family: "Mukta", sans-serif;
}

.header p,
.footer p {
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  font-weight: 800;
  color: white;
}

.box-data {
  min-width: 320px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-data_title {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  background: linear-gradient(var(--color-three), var(--color-four));
  color: var(--color-font);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  font-family: "Mukta", sans-serif;
}

.box-data_title h1 {
  font-size: 2.2rem;
}

.box-data_form {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--color-three), var(--color-five));
  color: var(--color-font);
  border-radius: 1.6rem;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  font-family: "Mukta", sans-serif;
}

.box-data_form label {
  width: 100%;
}

.box-data_form label input {
  width: 100%;
  height: 48px;
  margin: 10px 0;
  padding: 0 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 0.9rem;
  outline: none;
  font-size: 1.8rem;
  transition: 0.2s ease-in-out;
}

.box-data_form label input:hover {
  -webkit-box-shadow: 6px 7px 21px 1px rgba(0, 0, 0, 0.22);
  box-shadow: 6px 7px 21px 1px rgba(0, 0, 0, 0.22);
}

.box-data_form label input:focus {
  -webkit-box-shadow: 6px 7px 21px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 6px 7px 21px 1px rgba(0, 0, 0, 0.42);
}

.box-data_form button {
  width: 10rem;
  height: 3rem;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
  transition: 0.12s ease-in-out;
  font-family: "Mukta", sans-serif;
}

.box-data_form button:hover {
  background: lightblue;
  -webkit-box-shadow: 6px 7px 21px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 6px 7px 21px 1px rgba(0, 0, 0, 0.12);
}

#calculateFutureValue {
  background-color: hsl(180, 29%, 58%);
}

#calculateFutureValue:hover {
  background-color: hsl(180, 51%, 59%);
}
